.header {
    background-color: grey;
}

.card-1 {
    background-color: whitesmoke;
}

.card-2 {
    background-color: grey;
}

.card-3 {
    background-color: whitesmoke;
}

.card-4 {
    background-color: grey;
}

.footer {
    background-color: whitesmoke;
}